<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "https://cdn.dribbble.com/users/444266/screenshots/6164979/cocktaildribbb.png" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "add new cocktail", new_cocktail_path, class: "nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "Action", "#", class: "dropdown-item" %>
          <%= link_to "Another action", "#", class: "dropdown-item" %>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(http://maba.blog/wp-content/uploads/2019/05/Top-3-Bars-%C3%A0-cocktails-MABA-Blog.png);">
  <div class="container">
    <h1>Discover our cocktails!</h1>
    <p>Greatness lies at the bottom of your glass</p>
    <%= link_to 'add new cocktail', new_cocktail_path, class: "btn btn-flat" %>
  </div>
</div>

  <div class="container">
    <% @cocktails.each do |cocktail| %>
        <div class="card-product">
          <img src="<%= cocktail.image_url %>" />
          <div class="card-product-infos">
            <h2><%= link_to cocktail.name, cocktail_path(cocktail.id) %></h2>
          </div>
        </div>
        <% end %>
  </div>
