<div class="container">

<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%=@cocktail.image_url%>)">
  <%= @cocktail.name %>
</div>

<ul>
  <% @cocktail.doses.each do |dose| %>
    <li>Ingredient : <%= dose.ingredient.name %> - Description : <%= dose.description %> <%= link_to "Delete", dose_path(dose), method: :delete, class: 'btn btn-danger' %></li>
  <% end %>
</ul>

<%= link_to 'Back', cocktails_path %> |
<%= link_to 'Add an ingredient', new_cocktail_dose_path(@cocktail) %>
</div>
